aiohttp
aiogram~=3.4
streamlit
flask
transformers
sentence-transformers
spacy
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.7.0/ru_core_news_sm-3.7.0-py3-none-any.whl
faiss-cpu
pandas
openai
